/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* applies to everything */
* {
  box-sizing: border-box;
}



/* the rest */

body {
color: #606161;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
}

#wrapper {
	width: 600px;
	height: 1087px;
}

header {
  height:350px;
	background-image: url("../images/header_bg.jpg");
	background-size: 600px 350px;
	background-repeat: no-repeat;
}

nav {
	height:29.5px;
	width: 131px;
	margin-top: 40px;
	margin-left: 234.5px;
/*margin: 0 auto;*/
	padding: 8px;
	background-color: #f9e42e;
}

main {
  height:306px;
  background-color: #f0efef;
}

section {
  height:197px;
	background-image: url("../images/testimonial_bg.jpg");
	background-size: 600px 197px;
	background-repeat: no-repeat;
	padding-top: 30px;
	padding-left: 150px;
	padding-right: 150px;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	clear:both;
}

footer {
  height:174.5px;
  border: 1px solid black;
}

#logo {
	width: 77.5px;
	height: 17.5px;
	position: relative;
  top: 18.5px;
  left: 56px;
}

#tagline {
	width: 100%;
	text-align: center;
	margin-top: 84px;
}

#maincolleft {
	width: 360px;
	padding-top:48px;
	padding-left: 56px;
	float: left;
}

#maincolright {
	width: 240px;
	padding-top:48px;
	padding-right: 56px;
	float: left;
}

#calltoaction {
  height:59.5px;
  background-color: #f9e42e;
}

#signupnow {
	height:30.5px;
	width: 153px;
/*margin: 0 auto;*/
	padding: 8px;
	background-color: #033048;
}

p {
	margin-bottom: 33px;
	line-height: 150%;
}

h1 {
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
}

h2 {
	font-weight: 600;
	font-size: 24px;
	color: #ffffff;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  color: #033048;
	margin-bottom: 18px;
}

nav a:link {
    color: #033048;
}

nav a:visited {
    color: #033048;
}

nav a:hover {
    color: #033048;
}

nav a:active {
    color: #033048;
}

.actionbutton {
	border-radius: 5px;
}

.getitnow {
	font-weight: 800;
	font-size: 14px;
	color: #033048;
	text-align: center;
}

.benefitlist {
	line-height: 150%;
	margin-left: 38px;
	list-style-type: disc;
}

.testimonial {
	font-style: italic;
	margin-bottom: 4px;
}

.testimonalname {
	font-style: 600;
}
